.leaflet-container {
    background: #1E282A;
    width: 100wh; 
    height: 50vh;
}
@media only screen and (min-width: 600px) {
    .leaflet-container {
      background: #1E282A;
      width: 60vw; 
      height: 60vh;
      margin: -32px auto 0;
    }
  }